<h1 align="center">Create new category</h1>

<%= render 'shared/errors', obj: @category %>
<%= form_for @category do |f| %>
    
    <div class = "form-group col-sm-8 mt-4">
        <div class="control-label">
             <%= f.label :name %>
        </div>
        
        <div class = "form-details custom-margin">
            <%= f.text_field :name, class: "form-control", placeholder: "Enter category name" %>
        </div>
        
       <div class = "custom-margin">
           <%= f.submit class: "btn btn-primary btn-lg" %>
       </div>
      
          
       [ <%= link_to "Back to Articles listing", articles_path %> ]
    </div>
    
<% end %>
